body, html {
  height: 100%;
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Rock Salt', cursive;
}

.background {
 background-image: url("https://cdn.shopify.com/s/files/1/0908/9770/products/Maria_van_Oosterwyck_-_Bouquet_of_Flowers_in_a_Vase_-_Google_Art_Project.jpg?v=1454857327");
 height: 100%;

 background-position: center;
 background-repeat: repeat-y;
 background-size: cover;
}

/* navigation bar */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: white;
  opacity: 0.8;
}

.nav-container a {
  text-decoration: none;
  color: black;
  padding: 0 10%;
  border-right: dotted;
  }

/* main section */
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  width: 400px;
  word-spacing: .5em;
  border-radius: 10%;
}

h1 {
  margin: 0;
  font-size: 2.75em;
  font-family: 'Permanent Marker', cursive;
}

p {
  padding: 0px 15px;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  opacity: .8;
  height: 40px;
  flex-flow: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.contact-info a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
}

#contact-header {
  padding-left: 20px;
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.75em;
}
