body, html {
  height: 100%;
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Rock Salt', cursive;
}

.background {
 background-image: url("https://cdn.shopify.com/s/files/1/0908/9770/products/Maria_van_Oosterwyck_-_Bouquet_of_Flowers_in_a_Vase_-_Google_Art_Project.jpg?v=1454857327");
 height: 100%;

 background-position: center;
 background-repeat: repeat-y;
 background-size: cover;
}

/* navigation bar */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: white;
  opacity: 0.8;
}

.nav-container a {
  padding: 0 10%;
  text-decoration: none;
  color: black;
  border-right: dotted;
}

.nav-container a:last-of-type {
  border: none;
}

/* title */
.title {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  align-items: flex-end;
  flex-flow: wrap;
  word-spacing: .5em;
}

.title div {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 9em;
  background-color: white;
  opacity: 0.8;
  border-radius: 10%;
}

.title div h1 {
  flex-flow: wrap;
  margin: 0;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.75em;
}

.title div h3 {
  margin: 0;
}

/* main section */
.info-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: 330px;
}

.info-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 250px;
  background-color: white;
  opacity: .8;
  border-radius: 10%;
}

.info-container a:hover {
  transform: scale(1.5, 1.5);
}

.sub-title {
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.75em;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  opacity: .8;
  height: 40px;
  flex-flow: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.contact-info a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
}

#contact-header {
  padding-left: 20px;
  margin: 0;
}
