body, html {
  height: 100%;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 1.1em;
  /* font-family: 'Permanent Marker', cursive;
  font-family: 'Rock Salt', cursive; */
}

.background {
/* http://cms.stephaniegonot.com/media/w_800,q_90,c_limit/bvzu1tkw77upxyvrmjt6.jpg */

 background-image: url("https://cdn.shopify.com/s/files/1/0908/9770/products/Maria_van_Oosterwyck_-_Bouquet_of_Flowers_in_a_Vase_-_Google_Art_Project.jpg?v=1454857327");
 height: 100%;

 background-position: center;
 background-repeat: repeat-y;
 background-size: cover;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  height: 2.25em;

  background-color: white;
  opacity: 0.8;
}

.nav-container a {
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: black;
}

/* title */

.title {
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.title div {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25em;
  height: 10em;
  background-color: white;
  opacity: 0.8;
  border-radius: 10%;
}

.title div h1 {
  flex-flow: wrap;
  margin: 0;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.75em;
  /* font-family: 'Rock Salt', cursive; */
}

.title div h3 {
  margin: 0;
}

/* main sections */
.info-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: center;
  height: 100px;

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: white;
  opacity: .8;
  border-radius: 10%;
}

.sub-title {
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.75em;
}

info {
  width: 400px;
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: a;
  width: 350px;
  display: flex;
  flex-direction: column;
}
